<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="consul" type="ConsulServiceWrapper.ConsulServiceConfiguration, ConsulServiceWrapper" />
  </configSections>
  <consul executable="D:\Consul\consul.exe">
    <instance name="Dev" jsonFile="consul.json" enableWebUI="true" />
  </consul>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>